.sp-thongbao {
  color: red;
  margin-left: 2px; 
  display: none;
}

#SapXepGiam{
	display: none;
}

#content{
	width: 100%;
	/* background: #74ebd5;   */
    /* background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  */
    /* background: linear-gradient(to right, #ACB6E5, #74ebd5); */
  background-color: #d7dde4;

}


.myCardHeader, .myCardFooter{
	background-color: transparent;       
}